
<div class="modal fade pacnem-player-authenticate-modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{t "security.title_player_authenticate"}}</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify">{{t "security.explain_player_authenticate"}}</p>
                <p class="text-justify hidden-xs">{{t "security.explain_player_authenticate_first"}}</p>

                <div class="text-left container-fluid hidden-xs">
                    <div class="col-md-1" style="padding-top: 12px; font-size: 32px;">
                        <i class="glyphicon glyphicon-question-sign text-primary"></i>
                    </div>
                    <div class="col-md-11">{{t "security.info_player_authenticate"}}</div>
                </div>

                <p class="text-justify"><br />{{t "security.check_account_address"}}</p>

                <div class="container-fluid">
                    <div class="pull-left" style="padding-top: 5px;">
                        <img src="/img/NEM_100x100.png" style="height: 28px; padding-left: 5px;"/> 
                    </div>
                    <div class="col-md-10" style="font-size: 18px; word-break: break-all;">{{playerAddr}}</div>
                </div>

                <div class="text-center container-fluid" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-md-5 col-xs-8">
                            <div class="input-group" style="max-width: 215px; margin-left: 12px;">
                                <span class="input-group-addon" id="describe-token"><img src="/img/NEM_100x100.png" style="height: 20px;"/></span>
                                <input id="player-authenticate-token" type="text" 
                                        class="form-control" 
                                        placeholder="{{t "security.token_placeholder"}}"
                                        aria-describedby="describe-token" 
                                        maxlength="6"
                                        style="max-width: 170px;" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-4" style="padding-left: 0px;">
                            <button id="pacnem-player-authenticate-trigger" 
                                    class="btn btn-success" 
                                    role="button">
                                <i class="glyphicon glyphicon-globe"></i>&nbsp;
                                <span>{{t "security.button_authenticate"}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <button id="pacnem-player-authenticate-cancel-trigger" 
                            class="btn btn-default" 
                            role="button">
                        <i class="glyphicon glyphicon-remove"></i>&nbsp;
                        <span>{{t "security.button_cancel"}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
