
<div id="pacnem_scores" class="row col-md-10 col-md-offset-1">
    <div class="panel panel-warning">
        <div class="panel-heading" style="text-align: left;">
            <span class="glyphicon glyphicon-cloud"></span>&nbsp;
            <div style="display: inline;">{{t "scores.title"}}</div>
            <div class="pull-right">
                <a href="#" class="btn btn-sm btn-default pacnem-back-to-play"><span class="glyphicon glyphicon-eye-close"></span>&nbsp;{{t "scores.hide_button"}}</a>
            </div>
        </div>
        <div class="panel-body">
            <p class="text-justify">{{t "scores.explain"}}</p>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{t "scores.score_label"}}</th>
                        <th>{{t "scores.username_label"}}</th>
                        <th>{{t "scores.xem_label"}}</th>
                        <th>{{t "scores.date_label"}}</th>
                    </tr>
                </thead>
                <tbody>

                {{#unless data.length}}
                    <tr class="table-info">
                        <td colspan="5" class="text-center">
                            <span>{{t "scores.empty_high_scores"}}</span>
                        </td>
                    </tr>
                {{/unless}}

                {{#if data.length}}

                    {{#each data}}

                    <tr class="table-success">
                        <td>{{position}}</td>
                        <td>
                            <span class="label label-warning">
                                <i class="glyphicon glyphicon-dashboard"></i>&nbsp;
                                <span>{{score}}</span>
                            </span>
                        </td>
                        <td>{{username}}</td>
                        <td>
                            <a class="label label-sm label-info"
                                target="_blank"
                                href="http://bob.nem.ninja:7890/account/get?address={{address}}">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;<span>{{truncAddress}}</span>
                            </a>
                        </td>
                        <td>{{scoreDate}}</td>
                    </tr>

                    {{/each}}

                {{/if}}

                </tbody>
            </table>
        </div>
    </div>
</div>
