
<div id="pacnem_scores" class="row col-md-10 col-md-offset-1">
    <div id="your_room">
        <div class="panel panel-warning">
            <div class="panel-heading" style="text-align: left;">
                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                <div style="display: inline;"><span>Pac</span><span class="NEMifiedText">nem</span><span>&nbsp;<b>High Scores</b></span></div>
                <div class="pull-right">
                    <a href="#" class="btn btn-sm btn-default pacnem-back-to-play"><span class="glyphicon glyphicon-eye-close"></span>&nbsp;Hide</a>
                </div>
            </div>
            <div class="panel-body">
                <p class="text-justify">
                    <span>Welcome to the </span><span>Pac</span><span class="NEMifiedText">nem</span><span> High Scores. The following list is held up to date via the </span><span class="NEMifiedText">nem</span><span> blockchain.</span>
                </p>

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Score</th>
                            <th>Username</th>
                            <th>XEM Address</th>
                            <th>Date of History</th>
                        </tr>
                    </thead>
                    <tbody>

                    {{#unless data.length}}
                        <tr class="table-info">
                            <td colspan="5" class="text-center">
                                <span>Currently, no PacNEM high scores have been saved to the blockchain yet.</span>
                            </td>
                        </tr>
                    {{/unless}}

                    {{#if data.length}}

                        {{#each data}}

                        <tr class="table-success">
                            <td>{{position}}</td>
                            <td>{{score}}</td>
                            <td>{{username}}</td>
                            <td>
                                <a class="label label-sm label-info"
                                    target="_blank"
                                    href="http://bob.nem.ninja:7890/account/get?address={{address}}">
                                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span>{{truncAddress}}</span>
                                </a>
                            </td>
                            <td>{{scoreDate}}</td>
                        </tr>

                        {{/each}}

                    {{/if}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="rooms"></div>
</div>
