<html lang="{{currentLanguage}}">
    <head>
        <title>{{t "meta.title"}}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="{{t "meta.description"}}" />
        <meta name="keywords" content="{{t "meta.keywords"}}" />
        <meta name="author" content="Grégory Saive (https://github.com/evias)" />
        <meta name="robots" content="index, follow" />

        <meta property="og:url" content="https://www.pacnem.com" />
        <meta property="og:type" content="game" />
        <meta property="og:type" content="{{t "meta.title"}}" />
        <meta property="og:description" content="{{t "meta.description"}}" />
        <meta property="og:image" content="https://www.pacnem.com/img/pacnem_logo.png" />

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@PacNEM_Game">
        <meta name="twitter:creator" content="@eVias">
        <meta name="twitter:title" content="{{t "meta.title"}}">
        <meta name="twitter:description" content="{{t "meta.description"}}">
        <meta name="twitter:image" content="https://www.pacnem.com/img/pacnem_logo.png">

        {{#if PacNEM_Frontend_Config.facebookAppId.length}}
        <meta property="fb:app_id" content="{{PacNEM_Frontend_Config.facebookAppId}}" />
        {{/if}}

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/3rdparty/bootstrap-3.3.7/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="/css/style.css" type="text/css" rel="stylesheet" media="all" />

        <script src="/3rdparty/pacnem-deps.min.js"></script>
        <script src="/js/nem-sdk.min.js"></script>
        <script src="/3rdparty/kjua.min.js"></script>
        <script src="/js/pacnem.min.js?nocache=1"></script>
        <script src="/js/pacnem-facebook.js?nocache=1"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script type="text/javascript">
/**
 * Specification for i18next object so that Asynchronously
 * loaded Templates can also contain translations and use
 * the t() custom handlebars template from pacNEM.
 *
 * Requires i18nextXHRBackend and i18nextJquery plugins
 * to function correctly.
 *
 * @author  Grégory Saive <greg@evias.be> (https://github.com/evias)
 * @link    https://github.com/evias/pacNEM
 */
window.i18next.use(window.i18nextXHRBackend).init({
    lng: "{{currentLanguage}}",
    fallbackLng: "en",
    defaultNS: "translation",
    whitelist: ["en", "de", "fr"],
    nonExplicitWhitelist: true,
    preload: ["{{currentLanguage}}"],
    backend: {
        loadPath: "/locales/\{\{lng\}\}"
    }
}, function(err, t) {
    window.i18nextJquery.init(window.i18next, $);
});

/**
 * Handlebars t() helper implementation for frontend
 * templates.
 */
Handlebars.registerHelper('t', function(key, sub)
{
    if (typeof sub != "undefined" && sub !== undefined && typeof sub === "string" && sub.length)
        // dynamic subnamespace
        var key = key + "." + sub;

    return new Handlebars.SafeString(window.i18next.t(key));
});

/**
 * Handlebars counter() helper implementation for frontend
 * templates
 */
Handlebars.registerHelper("counter", function (index)
{
    return index + 1;
});

/**
 * Handlebars truncateAddress() helper implementation for frontend
 * templates - truncate a NEM address in following format:
 *  TCTIMURL5LPKNJYF3OB3ACQVAXO3GK5IU2BJMPSU
 *  will be truncated as:
 *  TCTIMU-...-MPSU
 */
Handlebars.registerHelper("truncateAddress", function (address)
{
    var truncated = address.substring(0, 6) + "-...-" + address.substring(address.length - 4);
    return truncated;
});
        </script>

        <script src="/js/jquery-hbs-file-template.js"></script>
    </head>
    <body>
        <img src="https://www.pacnem.com/img/pacnem_logo.png" alt="{{t "meta.title"}}" title="{{t "meta.title"}}" style="display: none;" />
        <h1 style="display: none;">{{t "meta.title"}}</h1>
        <p style="display: none;">{{t "meta.description"}}</p>

        <div class="row page-header" style="margin-top: 20px;">
            <div class="container-fluid">

                <div class="navbar" role="navigation">

                    <div class="navbar-brand row">
                        <div class="col-md-12">
                            <img src="/img/pacnem_logo.png" alt="PacNEM" title="PacNEM"/>
                        </div>
                    </div>

                    <div class="custom-navbar">
                        <ul class="nav navbar-nav">
                            <li id="currentUser" class="dropdown" style="display: none;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    <span id="currentUser-username"></span>&nbsp;
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="pacnem-purge-trigger" class="text-danger"><span class="glyphicon glyphicon-log-out"></span>&nbsp;<span>{{t "menus.purge"}}</span></a></li>
                                </ul>
                                <input type="hidden" id="pacNEM-sessionId" value="" />
                                <input type="hidden" id="pacNEM-needs-payment" value="" />
                            </li>
                            <li id="currentHearts" class="dropdown" style="display: none;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                    <span id="currentHearts-hearts"><img src="/img/loading.gif" style="max-height: 22px;"/></span>&nbsp;
                                    <span class="caret pacnem-credits-submenu hidden"></span>
                                </a>
                                <ul class="dropdown-menu pacnem-credits-submenu hidden">
                                    <li><a href="#" id="pacnem-invoice-show-trigger" class="text-danger"><span class="glyphicon glyphicon-plus"></span>&nbsp;<span>{{t "menus.buy_credits"}}</span></a></li>
                                    <li><a href="#" id="pacnem-invoice-history-trigger" class="text-danger"><span class="glyphicon glyphicon-time"></span>&nbsp;<span>{{t "menus.invoice_history"}}</span></a></li>
                                </ul>
                            </li>
                            <li id="currentMosaics" style="display: none;"></li>
                            <li id="fb-welcome"></li>
                        </ul>
                    </div>

                    <div class="custom-navbar">
                        <ul class="nav navbar-nav">
                            <li class="active pacnem-back-to-play"><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;<span>{{t "menus.play"}}</span></a></li>
                            <li><a id="pacnem-scores-trigger" href="#" data-display="0"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<span>{{t "menus.high_scores"}}</span></a></li>
                            <li id="currentLanguage" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                    <span id="currentLanguage-language">{{t "menus.language"}}: {{t "languages" currentLanguage}}</span>&nbsp;
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu countriesList">
                                    <li><a href="/en"><img src="/img/flags/gb.png" alt="{{t "languages.en"}}" />&nbsp;<span>{{t "languages.en"}}</span></a></li>
                                    <li><a href="/de"><img src="/img/flags/de.png" alt="{{t "languages.de"}}" />&nbsp;<span>{{t "languages.de"}}</span></a></li>
                                    <li><a href="/fr"><img src="/img/flags/fr.png" alt="{{t "languages.fr"}}" />&nbsp;<span>{{t "languages.fr"}}</span></a></li>
                                </ul>
                            </li>
                            <li id="currentBlockchain">
                                <a href="#">
                                    <span class="glyphicon glyphicon-globe"></span>&nbsp;
                                    <span id="currentBlockchain-network"><img src="/img/loading.gif" style="max-height: 22px;"/></span>
                                </a>
                            </li>
                            <li><a href="/sponsor"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;<span>{{t "menus.become_sponsor"}}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="pacNEMWrapper" class="container-fluid text-center">
            {{{body}}}
            </div>
            <div id="pacnem-element-sink" style="display: none;"></div>
        </div>

        <footer class="container-fluid text-center">
          <p>
            Made with &hearts; for the <a href="https://nem.io" target="_blank"><span class="NEMifiedText">nem</span> Project</a>.<br />
            Copyright &copy; 2017 <a href="https://github.com/evias" target="_blank">Grégory Saive &lt;greg@evias.be&gt;</a>. Source code for the PacNEM project can be found <a href="https://github.com/evias/pacNEM" target="_blank">here</a>.<br />
            Credits to Nicolas Dubien for the original open source js-pacman project (<a href="https://github.com/dubzzz/js-pacman" target="_blank">dubzzz/js-pacman</a>).<br />
          </p>
        </footer>

        {{#if PacNEM_Frontend_Config.facebookAppId.length}}
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                appId      : '{{PacNEM_Frontend_Config.facebookAppId}}',
                xfbml      : true,
                version    : 'v2.9'
                });

                if (typeof __pn_evs_facebookUI != 'undefined') {
                    __pn_evs_facebookUI.init(__pn_evs_GameUI);
                }
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);

            }(document, 'script', 'facebook-jssdk'));
        </script>
        {{/if}}

    </body>
</html>
