<html lang="{{currentLanguage}}">
    <head>
        <title>PacNEM - {{t "meta.title"}}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="{{t "meta.description"}}" />
        <meta name="keywords" content="{{t "meta.keywords"}}" />
        <meta name="author" content="Grégory Saive (https://github.com/evias)" />
        <meta name="robots" content="index, follow" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet" media="all" />

        <script src="/js/3rdparty/jquery.min.js"></script>
        <script src="/js/3rdparty/bootstrap.min.js"></script>
        <script src="/js/3rdparty/i18next.min.js" ></script>
        <script src="/js/3rdparty/i18next-xhr-backend.min.js" ></script>
        <script src="/js/3rdparty/i18next-jquery.min.js" ></script>
        <script src="/js/3rdparty/handlebars.min.js"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/nem-sdk.js"></script>
        <script src="/js/kjua.min.js"></script>

        <script src="/js/pacnem-utils.js"></script>
        <script src="/js/pacnem-api-client.js"></script>
        <script src="/js/pacnem-session.js"></script>
        <script src="/js/pacnem-ui.js"></script>
        <script src="/js/pacnem-controller.js"></script>

        <script type="text/javascript">
/**
 * Specification for i18next object so that Asynchronously
 * loaded Templates can also contain translations and use
 * the t() custom handlebars template from pacNEM.
 *
 * Requires i18nextXHRBackend and i18nextJquery plugins
 * to function correctly.
 *
 * @author  Grégory Saive <greg@evias.be> (https://github.com/evias)
 * @link    https://github.com/evias/pacNEM
 */
window.i18next.use(window.i18nextXHRBackend).init({
    lng: "{{currentLanguage}}",
    fallbackLng: "en",
    defaultNS: "translation",
    whitelist: ["en", "de", "fr"],
    nonExplicitWhitelist: true,
    preload: ["{{currentLanguage}}"],
    backend: {
        loadPath: "/locales/\{\{lng\}\}"
    }
}, function(err, t) {
    window.i18nextJquery.init(window.i18next, $);
});

/**
 * Handlebars t() helper implementation for frontend
 * templates.
 */
Handlebars.registerHelper('t', function(key, sub)
{
    if (typeof sub != "undefined" && sub !== undefined && typeof sub === "string" && sub.length)
        // dynamic subnamespace
        var key = key + "." + sub;

    return new Handlebars.SafeString(window.i18next.t(key));
});
        </script>

        <script src="/js/jquery-hbs-file-template.js"></script>
    </head>
    <body>
        <img src="/img/pacnem_logo.png" alt="PacNEM - {{t "meta.title"}}" title="PacNEM - {{t "meta.title"}}" style="display: none;" />
        <h1 style="display: none;">{{t "meta.title"}}</h1>
        <p style="display: none;">{{t "meta.description"}}</p>

        <div class="row page-header" style="margin-top: 20px;">
            <div class="container-fluid">

                <div class="navbar" role="navigation">

                    <div class="navbar-brand row">
                        <div class="col-md-12">
                            <img src="/img/pacnem_logo.png" alt="PacNEM" title="PacNEM"/>
                        </div>
                    </div>

                    <div class="custom-navbar">
                        <ul class="nav navbar-nav">
                            <li id="currentHearts" style="display: none;">
                                <a href="#">
                                    <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                    <span id="currentHearts-hearts"><img src="/img/loading.gif" style="max-height: 22px;"/></span>
                                </a>
                            </li>
                            <li id="currentUser" class="dropdown" style="display: none;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    <span id="currentUser-username"></span>&nbsp;
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="pacnem-purge-trigger" class="text-danger"><span class="glyphicon glyphicon-log-out"></span>&nbsp;<span>{{t "menus.purge"}}</span></a></li>
                                </ul>
                                <input type="hidden" id="pacNEM-sessionId" value="" />
                                <input type="hidden" id="pacNEM-needs-payment" value="" />
                            </li>
                        </ul>
                    </div>

                    <div class="custom-navbar">
                        <ul class="nav navbar-nav">
                            <li class="active pacnem-back-to-play"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;<span>{{t "menus.play"}}</span></a></li>
                            <li><a id="pacnem-scores-trigger" href="#" data-display="0"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<span>{{t "menus.high_scores"}}</span></a></li>
                            <li id="currentLanguage" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                    <span id="currentLanguage-language">{{t "menus.language"}}: {{t "languages" currentLanguage}}</span>&nbsp;
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu countriesList">
                                    <li><a href="/en"><img src="/img/flags/gb.png" alt="{{t "languages.en"}}" />&nbsp;<span>{{t "languages.en"}}</span></a></li>
                                    <li><a href="/de"><img src="/img/flags/de.png" alt="{{t "languages.de"}}" />&nbsp;<span>{{t "languages.de"}}</span></a></li>
                                    <li><a href="/fr"><img src="/img/flags/fr.png" alt="{{t "languages.fr"}}" />&nbsp;<span>{{t "languages.fr"}}</span></a></li>
                                </ul>
                            </li>
                            <li id="currentBlockchain">
                                <a href="#">
                                    <span class="glyphicon glyphicon-globe"></span>&nbsp;
                                    <span id="currentBlockchain-network"><img src="/img/loading.gif" style="max-height: 22px;"/></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="pacNEMWrapper" class="container-fluid text-center">
            {{{body}}}
            </div>
        </div>

        <footer class="container-fluid text-center">
          <p>
            Made with &hearts; for the <a href="https://nem.io" target="_blank"><span class="NEMifiedText">nem</span> Project</a>.<br />
            Copyright &copy; 2017 <a href="https://github.com/evias" target="_blank">Grégory Saive &lt;greg@evias.be&gt;</a>. Source code for the PacNEM project can be found <a href="https://github.com/evias/pacNEM" target="_blank">here</a>.<br />
            Credits to Nicolas Dubien for the original open source js-pacman project (<a href="https://github.com/dubzzz/js-pacman" target="_blank">dubzzz/js-pacman</a>).<br />
          </p>
        </footer>
    </body>
</html>
