
<script type="text/javascript">
    var __pn_evs_config   = {"business": "{{PacNEM_Frontend_Config.business}}", "application": "{{PacNEM_Frontend_Config.application}}", "namespace": "{{PacNEM_Frontend_Config.namespace}}", "dataSalt": "{{PacNEM_Frontend_Config.dataSalt}}"};
    var __pn_evs_bSocket  = io.connect(window.location.protocol + '//' + window.location.host);
    var __pn_evs_nemSDK   = require("nem-sdk").default;
    var __pn_evs_GameCtrl = new GameController(__pn_evs_config, __pn_evs_bSocket, __pn_evs_nemSDK, {{currentNetwork.config.id}});
    var __pn_evs_GameUI   = new GameUI(__pn_evs_config, __pn_evs_bSocket, __pn_evs_GameCtrl, $, new jQFileTemplate());
    var __pn_evs_facebookUI = new PacNEMFacebookUI(__pn_evs_GameUI);

    $(document).ready(function()
    {
        __pn_evs_GameUI.initDOMListeners();

        {{#if isFacebookCanvas}}
        __pn_evs_facebookUI.directCanvas(__pn_evs_GameUI);
        {{/if}}


        // set blockchain network
        $(".currentBlockchain-network").text("{{currentNetwork.label}}");
    });
</script>

{{#if notificationMessage.length}}
<div class="alert alert-success col-md-8 col-md-offset-2">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="glyphicon glyphicon-ok"></i>&nbsp;<span>{{notificationMessage}}</span>
</div>
{{/if}}

<div id="pacnem-main-wrapper" class="col-md-7 col-md-offset-1">
    <h4 class="wrapper-title text-left show-on-auth" style="display: none;">
        <i class="glyphicon glyphicon-cog"></i>&nbsp;{{t "guest.logged_in_title"}}
    </h4>

    <div class="pacnem-current-player-details">
        <div class="panel panel-info">
            <div class="panel-heading hide-on-auth">
                <div class="hidden-xs" style="text-align: left;">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    <div style="display: inline;"><span>Pac</span><span class="NEMifiedText">nem</span><span>&nbsp; {{t "guest.title_blue_box"}}</span></div>
                </div>
                <div class="visible-xs">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    <div style="display: inline;"><span>Pac</span><span class="NEMifiedText">nem</span><span>&nbsp; {{t "guest.title_blue_box_mobile"}}</span></div>
                </div>
            </div>
            <div class="panel-body">
                <p class="text-justify hide-on-auth hidden-xs">
                    {{t "guest.welcome_paragraph_1_1"}}
                    {{t "guest.welcome_paragraph_1_2"}}<br />
                </p>
                <p class="text-justify hide-on-auth xs-only">
                    {{t "guest.welcome_paragraph_1_1_mobile"}}<br />
                </p>
                <div class="row hide-on-auth hidden-xs">
                    <div class="col-md-10 col-md-offset-1 text-left">
                        <ul style="list-style: none; margin: 0; padding: 0;">
                            <li class="text-danger" style="margin: 0; padding: 0;">
                                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                                {{t "guest.security_paragraph_1"}}
                            </li>
                        </ul>
                    </div>
                    <br />
                </div>
                <!--
                <p class="text-justify hide-on-auth">
                    <br />
                    <span>{{t "guest.play_mode_explain"}}</span>
                </p>
                -->
                <div class="row hide-on-auth" style="margin-top: 20px;">
                    <div class="col-md-12 text-center pacnem-game-mode-wrapper">
                        <ul style="list-style: none; margin: 0; padding: 0;">
                            <li style="display: inline-block; margin-bottom: 10px;">
                                <button class="btn btn-lg btn-primary pacnem-gamemode-trigger" data-value="sponsored">
                                    <img class="fake-checkbox unchecked" src="/img/checkbox_unchecked.png" alt="{{t guest.check_sponsor_play}}" />
                                    <img style="display: none;" class="fake-checkbox checked" src="/img/checkbox_checked.png" alt="{{t guest.check_sponsor_play}}" />
                                    <span>{{t "guest.play_type_sponsored"}}</span>
                                    <i class="glyphicon glyphicon-globe"></i>&nbsp;
                                </button>
                            </li>
                            <li style="display: inline-block; margin-left: 10px;">
                                <button class="btn btn-lg btn-success pacnem-gamemode-trigger" data-value="pay-per-play">
                                    <img style="display: none;" class="fake-checkbox unchecked" src="/img/checkbox_unchecked.png" alt="{{t guest.check_sponsor_play}}" />
                                    <img class="fake-checkbox checked" src="/img/checkbox_checked.png" alt="{{t guest.check_sponsor_play}}" />
                                    <span>{{t "guest.play_type_payperplay"}}</span>
                                    <img src="/img/NEM_100x100.png" style="height: 20px;"/>&nbsp;
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="text-justify hide-on-auth">
                    <br />
                    {{t "guest.enter_data_to_join"}}
                </p>
                <div class="user-form form form-horizontal">
                    <div class="col-md-3" style="margin-bottom: 5px;">
                        <div class="input-group">
                            <span class="input-group-addon" id="describe-username"><span class="glyphicon glyphicon-user"></span></span>
                            <input id="username" type="text" class="form-control" placeholder="{{t "forms.username_placeholder"}}" aria-describedby="describe-username" maxlength="20" />
                        </div>
                        <div class="error-block username-error text-danger" style="display: none;">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                            <span class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-7" style="margin-bottom: 5px;">
                        <div class="input-group">
                            <span class="input-group-addon" id="describe-address"><img src="/img/NEM_100x100.png" style="height: 20px;"/></span>
                            <input id="address" type="text" class="form-control xem-address" placeholder="{{t "forms.address_placeholder"}} ({{t "networks" currentNetwork.label}})" aria-describedby="describe-address" maxlength="46" />
                        </div>
                        <div class="error-block network-error text-danger" style="display: none;">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                            <span class="error"></span>
                        </div>
                    </div>
                    <div id="create_my_room" class="col-md-2 text-left hide-on-auth">
                        <button id="pacnem-save-trigger" class="btn btn-primary" role="button" disabled="disabled"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;{{t "forms.button_save"}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span id="pacnem-error-address-format" style="display: none;">{{t "forms.error_format_address"}}</span>
    <span id="pacnem-error-address-network" style="display: none;">{{t "forms.error_network_address"}}&nbsp;({{currentNetwork.label}})</span>

    <div class="pacnem-scores-wrapper container-fluid" style="display: none;">&nbsp;</div>
    <div class="pacnem-invoice-history-wrapper" class="container-fluid" style="display: none;">&nbsp;</div>
    <div class="pacnem-lounge-wrapper" class="container-fluid" style="display: none;">&nbsp;</div>

    <div id="pacnem-game-wrapper" class="container-fluid" style="display: none;">
        <div class="container-fluid col-md-4">
            <div id="pacnem-current-room-wrapper" class="row">
                <h4 class="wrapper-title text-left"><i class="glyphicon glyphicon-user"></i>&nbsp;{{t "player.room_players_title"}}</h4>

                <ul class="list-group players-list">
                    <li class="list-group-item hidden">
                        <div class="list-group-item-heading row">
                            <div class="col-md-12 text-left">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span class="player" style="font-weight: 900;"></span>
                            </div>
                        </div>
                        <div class="list-group-item-text">
                            <div class="row mt10">
                                <div class="col-md-2 p0">&nbsp;</div>
                                <div class="col-md-3 p0">
                                    <span class="label label-default label-bigger">
                                        <span class="pc-lifes"></span>&nbsp;
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </span>
                                </div>
                                <div class="col-md-3 p0">
                                    <span class="label label-default label-bigger">
                                        <span class="pc-combo"></span>&nbsp;
                                        <span class="glyphicon glyphicon-flash"></span>
                                    </span>
                                </div>
                                <div class="col-md-4 p0">
                                    <span class="label label-success label-bigger">
                                        <span class="pc-score"></span>&nbsp;
                                        <span class="glyphicon glyphicon-dashboard"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="game" class="game col-md-8">
            <canvas id="pacnem-canvas" height="0" width="0"></canvas>
        </div>
    </div>

</div>

<div class="col-md-3 col-xs-10 col-xs-offset-1">
    <div class="row">
        <h4 class="wrapper-title text-left"><i class="glyphicon glyphicon-tasks"></i>&nbsp;{{t "player.rooms_title"}}</h4>
        <div id="rooms"></div>

        <a href="#" class="btn btn-block btn-success roomCreateNew hidden"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;{{t "player.create_room_button"}}</a>
    </div>

    <div id="spread-the-word" class="row">
        <h4 class="wrapper-title text-left"><i class="glyphicon glyphicon-heart"></i>&nbsp;{{t "donations.title"}}</h4>
        <p class="text-justify">{{t "donations.description"}}</p>

        <p class="text-left">
            <span>{{t "donations.explain"}}:</span>
            <pre>NCK34K5LIXL4OMPDLVGPTWPZMGFTDRZQEBRS5Q2S</pre>
        </p>

        <p class="text-left">
            <span>{{t "links.intro"}}:</span>
            <ul class="text-left">
                <li><a href="https://github.com/evias/pacNEM" target="_blank">{{t "links.source_code"}}</a></li>
                <li><a href="https://nem.io" target="_blank" class="NEMifiedText">{{t "links.nem_website"}}</a></li>
                <li><a href="https://nem.io/install" target="_blank" class="NEMifiedText">{{t "links.nem_downloads"}}</a></li>
                <li><a href="https://blog.nem.io" target="_blank" class="NEMifiedText">{{t "links.nem_blog"}}</a></li>
                <li><a href="https://forum.nem.io" target="_blank" class="NEMifiedText">{{t "links.nem_forum"}}</a></li>
                <li><a href="http://bob.nem.ninja/docs/" target="_blank" class="NEMifiedText">{{t "links.nem_nis_doc"}}</a></li>
                <li><a href="https://rb2nem.github.io/nem-dev-guide/" target="_blank" class="NEMifiedText">{{t "links.nem_dev_guide"}}</a></li>
                <li><a href="https://github.com/NemProject/NanoWallet" target="_blank" class="NEMifiedText">{{t "links.nem_nanowallet_src"}}</a></li>
                <li><a href="https://github.com/QuantumMechanics/NEM-sdk" target="_blank" class="NEMifiedText">{{t "links.nem_sdk"}}</a></li>
                <li><a href="https://blog.nem.io/nem-development-101/" target="_blank" class="NEMifiedText">{{t "links.nem_dev_101"}}</a></li>
            </ul>
        </p>
    </div>
</div>

<div id="room-template" class="hidden">
    <div class="pacnem-lounge">
        <h5 class="lounge-title text-left colNEMGreen">Pac<span class="NEMifiedText">nem</span> #<span class="room-enum">1</span></h5>
        <div class="col-md-7 room-members-wrapper text-left">
            <ul class="members">
                <li class="member hidden">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    <span class="member-name"></span>
                    <span class="member-address" style="display: none;"></span>
                    <span class="socket-id" style="display: none;"></span>
                </li>
            </ul>
        </div>
        <div class="col-md-5 room-actions-wrapper">
            <a href="#" class="btn btn-block btn-primary roomActionJoin hidden">{{t "player.room_join_button"}}</a>
            <a href="#" class="btn btn-block btn-primary roomActionPlay hidden">{{t "player.room_play_button"}}</a>
            <a href="#" class="btn btn-block btn-success roomActionCancel hidden">{{t "player.room_starting"}} (<span class="seconds-counter">10</span>{{t "player.room_seconds_label"}})</a>
            <a href="#" class="btn btn-block btn-danger roomActionLeave hidden">{{t "player.room_leave_button"}}</a>
        </div>
    </div>
</div>

<div id="pacnem-modal-wrapper"></div>
