
<script type="text/javascript">
    $(document).ready(function()
    {
        $(".sponsor-registration-form-wrapper").html($("#sponsor-registration-form").html());

        // set blockchain network
        $("#currentBlockchain-network").text("{{currentNetwork.label}}");
    });
</script>

<div id="pacnem-main-wrapper" class="col-md-7 col-md-offset-1">
    <div id="pacnem-current-player-details">
        <div class="panel panel-warning">
            <div class="panel-heading" style="text-align: left;">
                <span class="glyphicon glyphicon-user"></span>&nbsp;
                <div style="display: inline;"><span>Pac</span><span class="NEMifiedText">nem</span><span>&nbsp; {{t "sponsor_engine.title_blue_box"}}</span></div>
            </div>
            <div class="panel-body">
                <p class="text-justify">
                    {{t "sponsor_engine.explain_sponsor_engine"}}
                </p>
                <fieldset>
                    <legend>{{t "sponsor_engine.fill_form_to_be_sponsor"}}</legend>

                    <div class="sponsor-registration-form-wrapper"></div>
                </fieldset>
            </div>
        </div>
    </div>

</div>

<div class="col-md-3">
    <div id="spread-the-word" class="row">
        <h4 class="wrapper-title text-left"><i class="glyphicon glyphicon-heart"></i>&nbsp;{{t "donations.title"}}</h4>
        <p class="text-justify">{{t "donations.description"}}</p>

        <p class="text-left">
            <span>{{t "donations.explain"}}:</span>
            <pre>NCK34K5LIXL4OMPDLVGPTWPZMGFTDRZQEBRS5Q2S</pre>
        </p>

        <p class="text-left">
            <span>{{t "links.intro"}}:</span>
            <ul class="text-left">
                <li><a href="https://github.com/evias/pacNEM" target="_blank">{{t "links.source_code"}}</a></li>
                <li><a href="https://nem.io" target="_blank" class="NEMifiedText">{{t "links.nem_website"}}</a></li>
                <li><a href="https://nem.io/install" target="_blank" class="NEMifiedText">{{t "links.nem_downloads"}}</a></li>
                <li><a href="https://blog.nem.io" target="_blank" class="NEMifiedText">{{t "links.nem_blog"}}</a></li>
                <li><a href="https://forum.nem.io" target="_blank" class="NEMifiedText">{{t "links.nem_forum"}}</a></li>
                <li><a href="http://bob.nem.ninja/docs/" target="_blank" class="NEMifiedText">{{t "links.nem_nis_doc"}}</a></li>
                <li><a href="https://rb2nem.github.io/nem-dev-guide/" target="_blank" class="NEMifiedText">{{t "links.nem_dev_guide"}}</a></li>
                <li><a href="https://github.com/NemProject/NanoWallet" target="_blank" class="NEMifiedText">{{t "links.nem_nanowallet_src"}}</a></li>
                <li><a href="https://github.com/QuantumMechanics/NEM-sdk" target="_blank" class="NEMifiedText">{{t "links.nem_sdk"}}</a></li>
                <li><a href="https://blog.nem.io/nem-development-101/" target="_blank" class="NEMifiedText">{{t "links.nem_dev_101"}}</a></li>
            </ul>
        </p>
    </div>
</div>

<div id="pacnem-modal-wrapper"></div>

<script id="sponsor-registration-form" type="text/x-handlebars-template">
    <div class="user-form form">
        <form action="/sponsor" method="POST" accept-charset="UTF-8">
        <div class="row form-group">
            <label class="col-md-3 text-right">{{t "sponsor_engine.label_realname"}} (*)</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" id="describe-realname"><span class="glyphicon glyphicon-user"></span></span>
                    <input name="realname" type="text" class="form-control" placeholder="{{t "forms.realname_placeholder"}}" aria-describedby="describe-realname" maxlength="30" value="{{values.realname}}" />
                </div>
            </div>
            {{#if errors.realname}}
            <div class="col-md-3 error-block realname-error text-danger">
                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                <span class="error">{{errors.realname}}</span>
            </div>
            {{/if}}
        </div>
        <div class="row form-group">
            <label class="col-md-3 text-right">{{t "sponsor_engine.label_xem"}} ({{currentNetwork.label}}) (*)</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" id="describe-xem"><span class="glyphicon glyphicon-user"></span></span>
                    <input name="xem" type="text" class="form-control" placeholder="{{t "forms.xem_placeholder"}}" aria-describedby="describe-xem" maxlength="46" value="{{values.xem}}" />
                </div>
            </div>
            {{#if errors.xem}}
            <div class="col-md-3 error-block xem-error text-danger">
                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                <span class="error">{{errors.xem}}</span>
            </div>
            {{/if}}
        </div>
        <div class="row form-group">
            <label class="col-md-3 text-right">{{t "sponsor_engine.label_email"}} (*)</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" id="describe-email"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input name="email" type="text" class="form-control" placeholder="{{t "forms.email_placeholder"}}" aria-describedby="describe-email" maxlength="50" value="{{values.email}}" />
                </div>
            </div>
            {{#if errors.email}}
            <div class="col-md-3 error-block email-error text-danger">
                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                <span class="error">{{errors.email}}</span>
            </div>
            {{/if}}
        </div>
        <div class="row form-group">
            <label class="col-md-3 text-right">{{t "sponsor_engine.label_sponsorname"}} (*)</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" id="describe-sponsorname"><span class="glyphicon glyphicon-bullhorn"></span></span>
                    <input name="sponsorname" type="text" class="form-control" placeholder="{{t "forms.sponsorname_placeholder"}}" aria-describedby="describe-sponsorname" maxlength="30" value="{{values.sponsorname}}" />
                </div>
            </div>
            {{#if errors.sponsorname}}
            <div class="col-md-3 error-block sponsorname-error text-danger">
                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                <span class="error">{{errors.sponsorname}}</span>
            </div>
            {{/if}}
        </div>
        <div class="row form-group">
            <label class="col-md-3">{{t "sponsor_engine.label_url"}}</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" id="describe-url"><span class="glyphicon glyphicon-globe"></span></span>
                    <input name="url" type="text" class="form-control" placeholder="{{t "forms.url_placeholder"}}" aria-describedby="describe-url" maxlength="100"  value="{{values.url}}" />
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-3 text-right">{{t "sponsor_engine.label_description"}} (*)</label>
            <div class="col-md-6">
                <textarea name="description" type="text" rows="4" class="form-control" aria-describedby="describe-description" placeholder="{{t "forms.description_placeholder"}}">{{values.description}}</textarea>
            </div>
            {{#if errors.description}}
            <div class="col-md-3 error-block description-error text-danger">
                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                <span class="error">{{errors.description}}</span>
            </div>
            {{/if}}
        </div>
        <div class="row form-group">
            <label class="col-md-3 text-right">{{t "sponsor_engine.label_type_advertising"}} (*)</label>
            <div class="col-md-6">
                <div class="input-group">
                    <ul style="list-style: none; margin: 0; padding: 0;">
                        <li class="text-left">
                            <div class="radio">
                                <label><input type="radio" name="type_advertizing" value="images" />{{t "sponsor_engine.type_images"}}</label>
                            </div>
                        </li>
                        <li class="text-left">
                            <div class="radio">
                                <label><input type="radio" name="type_advertizing" value="videos" />{{t "sponsor_engine.type_videos"}}</label>
                            </div>
                        </li>
                        <li class="text-left">
                            <div class="radio">
                                <label><input type="radio" name="type_advertizing" value="all" />{{t "sponsor_engine.type_both"}}</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {{#if errors.type_advertising}}
            <div class="col-md-3 error-block type_advertizing-error text-danger">
                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                <span class="error">{{errors.type_advertising}}</span>
            </div>
            {{/if}}
        </div>

        <div class="row">
            <p class="col-md-10 text-left">* {{t "sponsor_engine.legend_asterisk"}}</p>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-3 text-left">
                <button type="submit" id="pacnem-register-sponsor" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;{{t "sponsor_engine.button_register"}}</button>
            </div>

            {{#if errors.general}}
            <div class="col-md-3 error-block general-error text-danger">
                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                <span class="error">{{errors.general}}</span>
            </div>
            {{/if}}
        </div>
        </form>
    </div>
</script>
